.results {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $color-white;
    border-radius: $dp*2;
    width: 100%;

    box-shadow: 0 $dp*2 $dp*4 rgba(0,0,0,0.1);

    @media (min-width: $bp-large) {
        width: 480px;
    }
}

.resultItem {
    cursor: pointer;
}

.resultAction {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $dp*6;
    padding: $dp*3 $dp*4;
    text-align: left;
    align-items: center;

    &.active {
        background-color: #F1F1F1;
    }
    &:hover {
        background-color: #CCCCCC;
        &:focus {
            background-color: #CCCCCC;
        }
    }

    &:focus {
        outline: none;
        background-color: #E1E1E1;
    }
}

.content {
    display: flex;
    flex-direction: column;
    color: $color-black;
}

.heading {
    font-size: 0.8rem;
    font-weight: 400;
}
.details {
    font-size: 0.8rem;
    font-weight: 300;
}

.placeType {
    span {
        display: inline-block;
        min-width: 5rem;
        border-radius: $dp;
        text-align: center;
        font-size: 0.8rem;
        font-weight: 600;
        padding: $dp/2 $dp;
    }
}