.footer {
    font-family: $font-family-body;
}

.container {
    @extend %container;
    padding: $dp*4 0;
}

.nav {
    background-color: $color-primary;
    padding: $dp*6 $dp;
}

.list {
    @extend %container;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    text-align: left;


    @media(min-width: $bp-large) {
        flex-direction: row;
        text-align: center;
    }
}

.listItem {
    @apply text-sm;
    color: $color-white;

}

.listIink {
    color: $color-white;
}

.content {
    @extend %container;
    padding-top: $dp*8;

    p {
        margin-bottom: $dp*2;
        font-size: 0.9rem;
    }
}

.legal {
    @extend %container;
    text-align: center;
    padding-top: $dp*8;
    padding-bottom: $dp*8;

    p {
        font-size: 0.9rem;
    }
}