.footer {
}

.container {
    @extend %container;
    padding: $dp*4 0;
}

.nav {
    @apply bg-primary;
}

.list {
    @extend %container;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    text-align: left;


    @media(min-width: $bp-large) {
        flex-direction: row;
        text-align: center;
    }
}

.list__item {
    @apply text-sm;
    color: $color-white;

}

.list__link {
    color: $color-white;
}

.content {
    @extend %container;
    padding-top: $dp*8;
}

.legal {
    @extend %container;
    text-align: center;
    padding-top: $dp*8;
    padding-bottom: $dp*8;
}