.hero {
    @apply bg-primary w-full text-white;
    position: relative;
    min-height: 290px;
    overflow: hidden;
    
}

.imageWrapper {
    position: relative;
    max-height: 530px;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba($primary,1) 100%);
    }
}

.image {
    object-fit: contain;
    object-position: 50%;
}

.content {
    position: absolute;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%)
}

.container {
    @extend %container;
}

.heading {
    font-size: 2.6rem;
    font-weight: 700;
    padding: $dp*4 0 $dp 0;
}

.list {
    margin: 0;
    padding: $dp*3 0 $dp*6;
    list-style-position: outside;
    display: flex;
    flex-direction: row;
    gap: $dp*5;
}

.list__item {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-size: 1.2rem;
}

.icon {
    width: $dp*6;
    height: $dp*6;
    margin-right: $dp*2;
}